.totals {
  height: 100%;
  width: 90%;

  max-width: 85rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5rem 10rem;

  &__rowOne {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70%;
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--color-red-1);
    border-radius: 1rem;

    color: var(--color-white);

    .locked {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      padding: 1rem;

      &__title {
        font-size: 1.5rem;
        padding-bottom: 2rem;

        font-family: Roboto-Medium;
      }
      &__value {
        font-size: 3rem;
      }
    }
    .staked {
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 2rem 1rem;

      &__title {
        font-size: 1rem;
      }
      &__value {
        font-size: 2rem;
      }
    }
  }
  &__rowTwo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30%;
    width: 80%;
    margin: 2rem 0;
    background-color: var(--color-red-1);
    border-radius: 1rem;

    .pool {
      width: 50%;
      height: 100%;
      padding: 1rem;

      color: var(--color-white);

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 2rem;
        font-family: Roboto-Medium;
      }
    }

    .activePool {
      width: 50%;
      height: 100%;
      padding: 1rem;

      color: var(--color-white);

      cursor: pointer;

      background-color: var(--color-red-2);
      border-radius: 1rem;

      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 2rem;
        font-family: Roboto-Medium;
      }
    }
  }
}
