@import "../../UI/styles/mixins";

.totals {
  height: 100%;
  width: 90%;

  max-width: 85rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5rem 10rem;

  @include respond(phone) {
    width: 100%;
    padding: 0 1rem;
  }

  &__rowOne {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70%;
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--color-red-1);
    border-radius: 1rem;

    color: var(--color-white);

    @include respond(phone) {
      margin: 1rem 0;
      padding: 0.5rem;

      border-radius: 0.5rem;
    }

    .locked {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      padding: 2rem 1rem;

      @include respond(phone) {
        padding: 1rem;

        width: 37.5%;
        padding: 5px;
      }

      &__title {
        font-size: 1.5rem;
        padding-bottom: 2rem;

        font-family: Roboto-Medium;

        @include respond(phone) {
          font-size: 1rem;
          padding-bottom: 5px;
        }
      }
      &__value {
        font-size: 3rem;
        @include respond(phone) {
          font-size: 1.5rem;
        }
      }
    }
    .staked {
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 2rem 1rem;

      @include respond(phone) {
        padding: 1rem;

        width: 25%;
        padding: 10px;
        align-items: flex-start;
      }

      &__title {
        font-size: 1rem;
      }
      &__value {
        font-size: 2rem;
      }
    }
  }
  &__rowTwo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30%;
    width: 80%;
    margin: 2rem 0;
    background-color: var(--color-red-1);
    border-radius: 1rem;

    @include respond(phone) {
      margin: 0.5rem 0;
      border-radius: 0.5rem;
    }

    .pool {
      width: 50%;
      height: 100%;
      padding: 1rem;

      color: var(--color-white);

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      @include respond(phone) {
        padding: 0.5rem;
      }

      p {
        font-size: 2rem;
        font-family: Roboto-Medium;

        @include respond(phone) {
          font-size: 1.25rem;
        }
      }
    }

    .activePool {
      width: 50%;
      height: 100%;
      padding: 1rem;

      color: var(--color-white);

      cursor: pointer;

      background-color: var(--color-red-2);
      border-radius: 1rem;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: 0.2s ease-in-out;

      @include respond(phone) {
        padding: 0.5rem;
        border-radius: 0.5rem;
      }

      p {
        font-size: 2rem;
        font-family: Roboto-Medium;

        @include respond(phone) {
          font-size: 1.25rem;
        }
      }
    }
  }
}
